<!-- book1.html -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
<div class="clearfix"> 

  <form ng-submit="post()">
   <p>Add new book</p>
    <input required type="text" class="form-control" placeholder="Book title" ng-model="newBook.title" />
    <textarea required class="form-control" maxlength="100" rows="2" placeholder="Book description" ng-model="newBook.description"></textarea>
    <input class="btn submit-btn pull-right" type="submit" value="Add new book" />
  </form>


<div class="book-stream">
  <h2>Books list</h4>
  <div class="book" ng-repeat="book in books">
    <h3>{{book.title}}</h3>
    <h4>{{book.description}}</h4>
  </div>
</div>
</div>
xxxxxxxx